.Buildpack-header {
    background-color: #252960;
    padding: .5em;
}

.Buildpack-details {
    display: flex;
    flex-direction: column;
    padding: .5em;
}

.Buildpack-item {
    font-size: .8rem;

    .Buildpack-name {
        font-size: 1.3rem;
        font-weight: bold;
    }
}

.Buildpack-card-header {
    display: flex;
    justify-content: space-between;
}

div > a {
    padding-left: .5em;
}

code {
    font-family: monospace,monospace;
    min-height: 3em;
    display: flex;
    background-color: lightgray;
    color: black;
    border-radius: 5px;
    font-size: 1.1em;
    padding: 12px;
    max-width: 45em;
    word-break: break-all;
}

.Buildpack-details-meta {
    display: flex;
    flex-direction: column;
    div {
        padding-top: .5em;
    }
}

.Buildpack-details-supported-stacks {
    margin-top: 1em;
}

.Buildpack-details-supported-stack-item {
    font-size: .8em;
    color: #252960;
    word-break: break-all;
    border-left-width: 1px !important;
}

.Buildpack-homepage-icon {
    width: 2em;
    height: 2em;
    margin-top: -0.5em;
}

.list-group-horizontal {
    display: flex;
    justify-content: flex-start;
    flex-flow: row wrap;
}

.dropdown-menu {
    max-height: 25em;
    overflow-y: auto;
}