@import "../colors.scss";

.Header {
    background-color: white;
    background-blend-mode: multiply;
    border-bottom: 4px solid $pink;

    .navbar-brand {
        img {
            height: 40px;
            filter: drop-shadow(1px 2px 2px #0004);
        }

        span {
            vertical-align: sub;
            padding-left: 1rem;
            font-size: 1.2em;
        }
    }
}
